@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Redefinir chave de autentificação";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Se você redefinir sua chave de autentificação, seu aplicativo de autentificação não irá funcionar até você tê-lo reconfigurado.</strong>
    </p>
    <p>
        Este processo desativa 2FA até você ter verificado seu aplicativo de autentificação.
        Se você não completar esse processo, é capaz que perca acesso a sua conta.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Redefinir chave de autentificação</button>
    </form>
</div>
