/* Custom styles for the Notas page */
body {
  background-color: #f8f9fa;
}

h1 {
  color: #9a45b8;
}

.table {
  margin-top: 20px;
}

  .table th {
    text-align: center;
    vertical-align: middle;
  }

  .table td {
    text-align: center;
    vertical-align: middle;
    color: #9a45b8;
    font-size: larger;
    font-weight: bold;
  }

.btn-primary {
  margin: 10px;
}
