<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light custom-navbar border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">StudyMember</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-white" [routerLink]="['/']">Página Inicial</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/notas']">Notas</a>
          </li>
          <!--
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/counter']">Counter</a>
          </li>
          -->
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/semestres']">Semestres</a>
          </li>

          <!-- Dropdown para Disciplinas -->
          <!--
  <li class="nav-item dropdown" [routerLinkActive]="['link-active']">
    <a class="nav-link dropdown-toggle text-white" href="#" id="disciplinasDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
      Disciplinas
    </a>
    <ul class="dropdown-menu" aria-labelledby="disciplinasDropdown">
      <li *ngFor="let disciplina of disciplinas">
        <a class="dropdown-item" [routerLink]="['/disciplina', disciplina.id]">
          {{ disciplina.name }}
        </a>
      </li>
    </ul>
  </li>
  -->
          <!-- Dropdown para Semestres -->
          <!--
  <li class="nav-item dropdown" [routerLinkActive]="['link-active']">
    <a class="nav-link dropdown-toggle text-white" href="#" id="semestresDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
      Semestres
    </a>
    <ul class="dropdown-menu" aria-labelledby="semestresDropdown">
      <li *ngFor="let semestre of semestres">
        <a class="dropdown-item" [routerLink]="['/semestre', semestre.id]">
          {{ semestre.name }}
        </a>
      </li>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Novo Semestre</a>
    </ul>
  </li>
  -->

        </ul>
        <app-login-menu></app-login-menu>
      </div>
    </div>
  </nav>
</header>
