@page
@model ForgotPasswordConfirmation
@{
    //ViewData["Title"] = "Forgot password confirmation";
    ViewData["Title"] = "Esqueceu a confirmação de senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    <!--Please check your email to reset your password.-->
    Por favor, verifique seu e-mail para redefinir sua senha
</p>
