@page
@model RegisterConfirmationModel
@{
    //ViewData["Title"] = "Register confirmation";
    ViewData["Title"] = "Confirmação de cadastro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    /*This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>*/
<p>
    Atualmente, este aplicativo não possui um remetente de e-mail real cadastrado, veja <a href="https://aka.ms/aspaccountconf">estes documentos</a> sobre como configurar um remetente de e-mail real.
    Normalmente, isto seria enviado via e-mail: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar sua conta</a>
</p>
    }
    else
    {
        //Please check your email to confirm your account.
<p>
        Por favor, verifique seu e-mail para confirmar sua conta.
</p>
    }
}

