@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de cadastro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Atualmente, este aplicativo não possui um remetente de e-mail real cadastrado, veja <a href="https://aka.ms/aspaccountconf">estes documentos</a> sobre como configurar um remetente de e-mail real.
    Normalmente, isto seria enviado via e-mail: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar sua conta</a>
</p>
    }
    else
    {
<p>
        Por favor, verifique seu e-mail para confirmar sua conta.
</p>
    }
}

